body {
  color: #555;
  background: #eee;
  font-size: 16;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 50em;
  font-family: "Futura", "Century Gothic", "Helvetica", "Arial", sans-serif;
  text-align: left;
  padding: 16px;
  padding-top: 0em;
}

.picker {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #333;
  line-height: 1.2;
  padding: 0em;
  margin-top: 0em;
  padding-top: 1em;
}

h2 {
  color: orange;
}

h1,
h2 {
  line-height: 1.2;
}

p {
  line-height: 1.5;
  padding: 0em 0em;
}
a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
}
